<div id="reports-page"></div>
@Html.Partial("_SessionPartial")
@section scripts {
    <script type="text/javascript">
        $().ready(function () {
            $('#navReports').toggleClass('active');
            React.render(React.createElement(ReportsPage), document.getElementById('reports-page'));
        });
    </script>
}